#particlebg {
    
  background: none;
  position: absolute;
  margin-top:10px !important;
  margin-left:0px !important;
  margin-right:0px; !important;
    height: 70vh;
  
}

#stats {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Info */
@keyframes show-info {
  0% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

